.cls-1 {
    fill: #1c2c53;
  }

  .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6 {
    stroke-width: 0px;
  }

  .cls-2 {
    fill: #314d91;
  }

  .cls-3 {
    fill: #111b33;
  }

  .cls-4 {
    fill: #243869;
  }

  .cls-5 {
    fill: #ffad96;
  }

  .cls-6 {
    fill: #3e62ba;
  }